<div class="container" style="margin: 50px auto;">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{ usuario }} !</p>
            <a href="/admin/login/logout" class="btn btn-sm btn-danger">
                Cerrar sesión
            </a>
        </div>
    </div>
</div>